.match {

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
    padding-top: 114px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 40px);
    flex-direction: column;
    justify-content: flex-end;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }

    @include media-breakpoint-down(md) {
      padding-top: 0;
      min-height: 0;
      justify-content: flex-start;
    }

    &--timeline {
      padding-top: 194px;

      @media (max-height: 899px) {
        padding-top: 114px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }
    }
  }

  &__header {

    @media (max-height: 750px) {
      margin-top: 20px;
      font-size: 32px;
      line-height: 1.09375;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__timeline {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__minute {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    width: 100%;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
    }

    &:hover {
      opacity: .7;
    }

    &--active {
      padding-top: 32px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        padding-top: 0;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background: #c6bc9c;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &:after {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        content: '';
        background: #c6bc9c;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .match__minute-number,
      .match__minute-author,
      .match__minute-dscr {
        color: $primary;
      }

      .match__minute-dscr:after {
        display: block;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__minute-number {
    flex: 0 0 146px;
    font-family: 'Spartan', 'Times New Roman', sans-serif;
    font-size: 64px;
    line-height: 1.125;
    font-weight: 800;
    color: #c6bc9c;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:after {
      content: "'";
    }
  }

  &__minute-author {
    margin-top: 5px;
    flex: 0 0 240px;
    color: #c6bc9c;

    @include media-breakpoint-down(lg) {
      flex: 0 0 150px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      flex-basis: auto;
      color: $primary;
    }
  }

  &__minute-dscr {
    padding-right: 80px;
    max-width: 80%;
    color: #c6bc9c;

    @media (max-width: 1400px) {
      padding-right: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      color: $primary;
    }

    &:after {
      margin-top: 16px;
      display: none;
      width: 9px;
      height: 11px;
      content: '';
      background: url(../img/triangle-right.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__media {
    position: absolute;
    top: 102px;
    left: 0;
    width: 100%;
    height: calc(100% - 102px);

    @include media-breakpoint-down(md) {
      position: static;
      margin-left: -4px;
      padding-top: 24px;
      padding-bottom: 40px;
    }

    .slick-list {

      @include media-breakpoint-down(md) {
        overflow: visible;
      }
    }
  }

  &__media-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include media-breakpoint-down(md) {
      position: relative;
      margin: 0 4px;
      width: 280px;
      height: 335px;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }

    &--first {

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
        content: 'Нажмите, чтобы включить звук';
        color: #fff;
        background: rgba(#000, .5);

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &__media-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__media-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__dots {
    display: none;

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 16px;
      margin-bottom: 20px;
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      margin-right: -20px;
      display: block;
      width: calc(100% + 20px);
      height: 2px;
      content: '';
      background: #c6bc9c;
    }

    &:after {
      position: absolute;
      top: 5px;
      left: 0;
      margin-right: -20px;
      display: block;
      width: calc(100% + 20px);
      height: 3px;
      content: '';
      background: #c6bc9c;
    }
  }

  &__dot {
    font-family: 'Spartan', 'Times New Roman', sans-serif;
    font-size: 28px;
    line-height: 1.14;
    color: #c6bc9c !important;

    &--active {
      color: $primary !important;
    }
  }
}
