mixin match(data)
  .match&attributes(attributes)
    .container-fluid
      .row
        .col-lg-7
          .match__wrapper.match__wrapper--timeline
            .h1.match__header триумф в париже
            .match__dots
              a.match__dot.match__dot--active(href="1") 43'
              a.match__dot(href="2") 49'
              a.match__dot(href="3") 113'
            .match__timeline
              +match__minute({
                minute: 43,
                author: 'Милан Галич',
                dscr: 'На 43-й минуте Дражан Еркович, едва не упустив мяч за боковую линию, продвинулся вперед и отпасовал на набегавшего Милана Галича. Тот открыл счет.'
              }).match__minute--active
              +match__minute({
                minute: 49,
                author: 'Слава Метревели',
                dscr: 'Сильный удар Валентина Бубукина парировал югославский вратарь, но отбитый мяч переправил в сетку ворот Слава Метревели. Так на 49-й минуте счет сравнялся.'
              })
              +match__minute({
                minute: 113,
                author: 'Виктор Понедельник',
                dscr: 'Дополнительное время уже заканчивалось, когда Михаил Месхи навесил в штрафную площадь, где Виктор Понедельник в прыжке головой отправил в ворота югославов победный мяч!'
              })
        .col-lg-5.d-flex
          .match__wrapper
            .match__media
              .match__media-item.match__media-item--first.match__media-item--active
                video.match__media-video(src='./img/match-1.mp4', playsinline, muted, loop, autoplay)
              .match__media-item
                video.match__media-video(src='./img/match-2.mp4', playsinline, muted, loop, autoplay)
              .match__media-item
                video.match__media-video(src='./img/match-3.mp4', playsinline, muted, loop, autoplay)


mixin match__minute(data)
  a.match__minute(href="#")&attributes(attributes)
    .match__minute-number= data.minute
    p.match__minute-author= data.author
    p.match__minute-dscr= data.dscr

