h1,
.h1 {
  font-family: $font-family-secondary;
  font-size: 80px;
  line-height: 1.1;
  font-weight: 800;
  text-transform: uppercase;
  color: $primary;
  background: linear-gradient(251.21deg, #cb000b 40.55%, #f28500 104.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 1.09375;
  }

  &.text-white {
    color: #fff;
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  font-size: 16px;
  line-height: 1.5;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
    line-height: 1.33;
  }

  &.sm {
    font-size: 12px;

    @include media-breakpoint-down(lg) {
      line-height: 1.33;
    }
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {

  &:hover {
    color: $primary;
  }

  &:focus,
  &:active {
    color: #b80007;
  }
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
