mixin artifacts(data)
  .artifacts&attributes(attributes)
    .container-fluid
      .row
        .col-xl-6
          .h1.artifacts__header артефакты эпохи
      .row
        .col-lg-2.offset-lg-3.col-6
          a.artifacts__item.artifacts__item--centered(href="./img/artifact-1.png", data-fancybox)
            img.artifact__item-img(src="./img/artifact-1.png", alt)
          a.artifacts__item(href="./img/artifact-2.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-2.jpg", alt)
        .col-lg-2.col-6
          a.artifacts__item(href="./img/artifact-3.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-3.jpg", alt)
          a.artifacts__item.artifacts__item--centered(href="./img/artifact-4.png", data-fancybox)
            img.artifact__item-img(src="./img/artifact-4.png", alt)
        .col-lg-2.col-6
          a.artifacts__item(href="./img/artifact-5.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-5.jpg", alt)
          a.artifacts__item(href="./img/artifact-6.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-6.jpg", alt)
        .col-lg-2.col-6
          a.artifacts__item(href="./img/artifact-7.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-7.jpg", alt)
          a.artifacts__item(href="./img/artifact-8.jpg", data-fancybox)
            img.artifact__item-img(src="./img/artifact-8.jpg", alt)
