.artifacts {
  position: relative;
  padding-top: 102px;
  padding-bottom: 104px;
  min-height: calc(100vh - 102px);

  @include media-breakpoint-down(md) {
    padding: 40px 0;
    background: $dark;
  }

  &:after {
    position: absolute;
    top: 102px;
    right: 0;
    display: block;
    width: 75%;
    min-height: calc(100% - 102px);
    content: '';
    background: $dark;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__header {
    position: relative;
    z-index: 1;
    margin-top: 80px;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#f2ead3, .2);

    @include transition;

    &:hover {
      opacity: .7;
    }

    &--centered {
      min-height: 320px;

      @include media-breakpoint-down(lg) {
        min-height: 174px;
      }
    }
  }

  &__item-img {
    max-width: 100%;
  }
}
