/* Bootstrap */

.container-fluid {
  padding: 0 40px;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }
}

.btn {
  position: relative;
  padding: 20px 75px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  border-radius: 0;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 16px;
  }

  &.btn-outline-primary {
    background: $secondary;

    &:focus,
    &:active {
      color: #b80007 !important;
      background: transparent !important;
      border-color: #b80007 !important;
      box-shadow: none !important;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      content: '';
      border: 4px solid $primary;
      transform: translate(-50%, -50%);

      @include transition;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border: 2px solid $primary;

      @include transition;
    }

    &:hover {
      color: $primary;
      background: transparent;

      &:before {
        opacity: 0;
      }

      &:after {
        border: 5px solid $primary;
      }
    }
  }
}

/* Slick */

.slick-slide {

  &:focus {
    outline: none;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  width: 66px;
  height: 66px;
  font-size: 0;
  background: url(../img/slick-arrow.svg) no-repeat center;
  background-size: contain;

  @include transition;

  &:hover {
    opacity: .7;
  }

  @include media-breakpoint-down(md) {
    top: 50%;
    bottom: auto;
    width: 42px;
    height: 42px;
    background: url(../img/slick-arrow-mob.svg) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
  }

  &.slick-prev {
    left: 40px;
    background: transparent;

    @include media-breakpoint-down(md) {
      left: 20px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/slick-arrow.svg) no-repeat center;
      background-size: contain;
      transform: rotate(180deg);

      @include media-breakpoint-down(md) {
        background: url(../img/slick-arrow-mob.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &.slick-next {
    left: 122px;

    @include media-breakpoint-down(md) {
      right: 20px;
      left: auto;
    }
  }
}
