
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/gallery/gallery.pug
include ../blocks/trophy/trophy.pug
include ../blocks/match/match.pug
include ../blocks/artifacts/artifacts.pug
include ../blocks/location/location.pug
include ../blocks/socials/socials.pug
include ../blocks/share/share.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/popup/popup.pug
include ../blocks/section/section.pug