head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Квартира №60
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
  meta(property='og:url' content='https://euro1960.ru/')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Квартира №60')
  meta(property='og:description' content='Арт-инсталляция, посвящённая победе сборной СССР на Кубке Европы по футболу в 1960 г.')
  meta(property='og:image' content='./img/front-mob.png')
  script(type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&product=custom-share-buttons')
  .
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(79742221, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/79742221" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
