.gallery {

  &__item {
    position: relative;
    background-position: center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(to top, rgba(#000, .7), rgba(#000, 0));
    }
  }

  &__item-content {
    position: relative;
    z-index: 1;
    padding: 95px 0 40px;
    display: flex;
    min-height: calc(100vh - 102px);
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding: 40px 0 28px;
      min-height: 500px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 100vh;
    }
  }

  &__dscr {
    color: #f2ebd8;
  }
}
