mixin gallery(data)
  .gallery&attributes(attributes)
    +gallery__item({
      picture: 'gallery-1.jpg'
    })
    +gallery__item({
      picture: 'gallery-2.jpg'
    })
    +gallery__item({
      picture: 'gallery-3.jpg'
    })
    +gallery__item({
      picture: 'gallery-4.jpg'
    })
    +gallery__item({
      picture: 'gallery-5.jpg'
    })
    +gallery__item({
      picture: 'gallery-6.jpg'
    })
            
            
mixin gallery__item(data)
  .gallery__item(style="background-image: url(./img/" + data.picture + ");")&attributes(attributes)
    .container-fluid
      .gallery__item-content
        .row
          .col-xl-7
            .h1.text-white фотографии с выставки
        .row
          .col-xl-7.col-lg-9.offset-xl-2.offset-lg-3
            .p.gallery__dscr Выставка, открывшаяся в пространстве Музея советских игровых автоматов, основана на архивных материалах, воспоминаниях спортсменов, аудио- и видеозаписях того времени. Пройти по трем ее локациям, получившим названия «Советская квартира», «Двор дома» и «Путь к триумфу», помогают звуковая постановка и необычные визуальные решения. С их помощью удалось рассказать как о самом финальном матче Кубка Европы, так и о бытовой стороне жизни футболистов-чемпионов.
