.socials {
  display: flex;

  &__item {
    position: relative;
    margin-right: 12px;
    display: flex;
    width: 66px;
    height: 66px;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary;
    border-radius: 50%;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 8px;
      width: 42px;
      height: 42px;
    }

    &:hover {
      border-width: 5px;
      border-color: #b80007;

      &:before {
        opacity: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      content: '';
      border: 3px solid $primary;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      @include transition;
    }
  }

  &__img {

    @include media-breakpoint-down(md) {
      max-width: 20px;
      max-height: 20px;
    }
  }
}
