mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="http://facebook.com/euro2020spb", target="_blank")
      img.socials__img(src="./img/fb.svg", alt)
    a.socials__item(href="https://www.instagram.com/euro2020spb", target="_blank")
      img.socials__img(src="./img/ig.svg", alt)
    a.socials__item(href="http://twitter.com/euro2020spb", target="_blank")
      img.socials__img(src="./img/tw.svg", alt)
    a.socials__item(href="http://vk.com/euro2020spb", target="_blank")
      img.socials__img(src="./img/vk.svg", alt)
