.footer {
  margin-top: 80px;
  padding-bottom: 24px;

  @include media-breakpoint-down(md) {
    margin-top: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    color: #a2987b;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }

    &:last-child {

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }
}
