mixin footer(data)
  .footer&attributes(attributes)
    .container-fluid
      .row
        .col-xl-9.offset-xl-3
          .footer__wrapper
            .p.footer__text © 2021 Музей советских игровых автоматов, Москва
            .p.footer__text сделано в aic.
