extends ../templates/template.pug
block content
  +header
  +front
  +gallery#gallery
  +trophy({
    type: 'desktop'
  }).trophy--desktop#trophy
  +trophy({
    type: 'mobile'
  }).trophy--mobile
  +match#match
  +artifacts#artifacts
  +location#location
  +popup
