.share {
  position: relative;
  margin-left: 40px;

  @include media-breakpoint-down(md) {
    position: static;
    margin-bottom: 56px;
    margin-left: 0;
  }

  &__btn {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;

    &:after {
      position: absolute;
      top: calc(100% + 7px);
      display: block;
      width: 100%;
      height: 7px;
      opacity: 0;
      content: '';
      border-top: 3px solid $primary;
      border-bottom: 2px solid $primary;

      @include transition;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 56px;
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {

      &:after {
        opacity: 1;
      }
    }

    &:focus,
    &:active {
      color: #b80007;

      &:after {
        border-color: #b80007;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: calc(100% + 22px);
    padding: 24px 30px 24px 24px;
    display: flex;
    min-width: 392px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    transform: translateY(-10%);

    @include transition;

    @include media-breakpoint-down(md) {
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      padding: 24px 20px;
      width: 100%;
      min-width: 0;
    }

    &--active {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &__header {
    margin-right: 75px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;
    color: #333;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
      font-size: 12px;
    }
  }

  &__socials-wrapper {
    display: flex;
    align-items: center;
  }

  &__social {
    margin-right: 16px;
    width: 24px;
    height: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-img {
  }
}
