mixin share(data)
  .share&attributes(attributes)
    a.share__btn(href="#") рассказать о проекте
    .share__content
      .share__header Поделиться через:
      .share__socials-wrapper
        a.share__social.st-custom-button(href="#", target="_blank", data-network="facebook", data-url="https://euro1960.ru/", data-title="Квартира №60", data-image="./img/front-mob.png", data-description="Арт-инсталляция, посвящённая победе сборной СССР на Кубке Европы по футболу в 1960 г.")
          img.share__social-img(src="./img/fb.svg", alt)
        a.share__social.st-custom-button(href="#", target="_blank", data-network="twitter", data-url="https://euro1960.ru/", data-title="Квартира №60", data-image="./img/front-mob.png", data-description="Арт-инсталляция, посвящённая победе сборной СССР на Кубке Европы по футболу в 1960 г.")
          img.share__social-img(src="./img/tw.svg", alt)
        a.share__social.st-custom-button(href="#",target="_blank", data-network="vk", data-url="https://euro1960.ru/", data-title="Квартира №60", data-image="./img/front-mob.png", data-description="Арт-инсталляция, посвящённая победе сборной СССР на Кубке Европы по футболу в 1960 г.")
          img.share__social-img(src="./img/vk.svg", alt)
