.front {
  position: relative;
  overflow: hidden;

  &__cover {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/texture.jpg) no-repeat center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__wrapper {
    padding-top: 154px;
    padding-bottom: 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding-top: 107px;
      min-height: 0;
    }
  }

  &__dscr {
    position: relative;
    z-index: 1;
    max-width: 330px;
    font-family: $font-family-secondary;
    font-weight: 500;
    color: $primary;

    @media (max-width: 1400px) {
      margin-bottom: 0;
      max-width: 290px;
    }
  }

  &__btn {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    padding: 15px 40px;
    border-width: 3px;

    @media (max-width: 1400px) {
      padding: 10px 20px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:after,
    &:before {
      display: none !important;
    }

    &:hover {
      color: $secondary !important;
      background: $primary !important;
    }
  }

  &__link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.375;
    color: #aaa07d;

    @include transition;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:after {
      margin-left: 16px;
      display: block;
      width: 9px;
      height: 11px;
      content: '';
      background: url(../img/triangle.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__picture-mob {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__item {
    position: absolute;

    &--1 {
      bottom: 0;
      left: 0;
      width: scalevw(220);
      height: scalevw(487);
      background: url(../img/1.svg) no-repeat center;
      background-size: contain;
    }

    &--9 {
      z-index: 1;
      bottom: scalevw(149);
      left: scalevw(315);
      width: scalevw(384);
      height: scalevw(496);
      background: url(../img/9.svg) no-repeat center;
      background-size: contain;
      mix-blend-mode: multiply;
    }

    &--6 {
      z-index: 3;
      top: scalevw(1);
      right: scalevw(463);
      width: scalevw(383.5);
      height: scalevw(496.19);
      background: url(../img/6.svg) no-repeat top center;
      background-size: contain;
      mix-blend-mode: multiply;

      @include media-breakpoint-down(lg) {
        top: auto;
        bottom: scalevw(400);
      }
    }

    &--0 {
      z-index: 4;
      right: scalevw(1);
      bottom: scalevw(211);
      width: scalevw(402);
      height: scalevw(505);
      background: url(../img/0.svg) no-repeat center;
      background-size: contain;
      mix-blend-mode: lighten;
    }

    &--sign {
      z-index: 1;
      right: scalevw(833);
      bottom: scalevw(76);
      width: scalevw(143);
      height: scalevw(178);
      background: url(../img/sign.png) no-repeat center;
      background-size: contain;
    }

    &--keeper {
      z-index: 2;
      top: scalevw(86);
      right: scalevw(653);
      width: scalevw(302);
      height: scalevw(546);
      background: url(../img/keeper.png) no-repeat center;
      background-size: contain;
    }

    &--player {
      z-index: 4;
      right: scalevw(550);
      bottom: scalevw(67);
      width: scalevw(290);
      height: scalevw(397);
      background: url(../img/player.png) no-repeat center;
      background-size: contain;
    }

    &--photo {
      z-index: 1;
      top: scalevw(200);
      right: scalevw(464);
      width: scalevw(296);
      height: scalevw(239);
      background: url(../img/photo.png) no-repeat center;
      background-size: contain;
    }

    &--winner {
      z-index: 3;
      top: scalevw(81);
      right: scalevw(128);
      width: scalevw(635);
      height: scalevw(820);
      background: url(../img/winner.png) no-repeat center;
      background-size: contain;

      @media (max-width: 1599px) {
        top: auto;
        right: scalevw(128);
        bottom: scalevw(-30);
      }

      @media (max-height: 700px) {
        width: scalevw(508);
        height: scalevw(656);
      }

      @include media-breakpoint-down(lg) {
        top: auto;
        bottom: scalevw(1);
      }
    }

    &--cup {
      z-index: 5;
      top: scalevw(327);
      right: scalevw(177);
      width: scalevw(208.5);
      height: scalevw(402);
      background: url(../img/cup.png) no-repeat center;
      background-size: contain;

      @media (max-width: 1599px) {
        top: auto;
        right: scalevw(177);
        bottom: scalevw(143);
      }

      @media (max-height: 700px) {
        right: scalevw(165);
        bottom: scalevw(140);
        width: scalevw(166.8);
        height: scalevw(321.6);
      }

      @include media-breakpoint-down(lg) {
        top: auto;
        bottom: scalevw(175);
      }
    }

    &--radio {
      z-index: 3;
      top: scalevw(86);
      right: scalevw(132);
      width: scalevw(248);
      height: scalevw(186);
      background: url(../img/radio.png) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(lg) {
        top: scalevw(150);
      }
    }

    &--bg-light {
      position: absolute;
      z-index: 0;
      top: 102px;
      right: scalevw(552);
      bottom: scalevw(149);
      margin-left: -16px;
      display: flex;
      width: scalevw(640);
      opacity: .7;
      background: $light;
      mix-blend-mode: lighten;
    }

    &--bg-dark {
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;
      width: scalevw(550);
      height: calc(100% - 102px);
      background: $dark;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__mob-btn {
    display: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      bottom: 16px;
      left: 50%;
      padding: 17px 19px;
      display: block;
      width: 100%;
      max-width: 280px;
      transform: translateX(-50%);
    }
  }
}
