mixin front(data)
  .front&attributes(attributes)
    .front__cover
    .container-fluid
      .front__wrapper
        .front__top
          p.front__dscr Интерактивная экспозиция, посвященная победе сборной СССР в первом Кубке Европы по футболу в 1960-м году.
          //a.btn.btn-outline-primary.front__btn.js-popup(href="#") посетить выставку
        .row
          .col-lg-9.offset-lg-3
            a.front__link.js-anchor(href="#gallery") подробнее
    .front__canvas
      .front__item.front__item--1
      .front__item.front__item--9
      .front__item.front__item--6
      .front__item.front__item--0
      .front__item.front__item--sign
      .front__item.front__item--keeper
      .front__item.front__item--player
      .front__item.front__item--photo
      .front__item.front__item--winner
      .front__item.front__item--cup
      .front__item.front__item--radio
      .front__item.front__item--bg-light
      .front__item.front__item--bg-dark
        video.front__video(src='./img/main.mp4', muted, loop, autoplay)
    .front__picture-mob
      img.img-fluid(src="./img/front-mob.png", alt)
    //a.btn.btn-outline-primary.front__mob-btn.js-popup(href="#") посетить выставку
