mixin trophy(data)
  .trophy&attributes(attributes)
    case data.type
    
      when 'desktop'
        .trophy__section
          .trophy__left
            .trophy__content-item
              .h1.trophy__header Трофей евро
              .p.trophy__dscr Главный приз чемпионатов Европы по футболу получил название в честь первого генсека УЕФА Анри Делоне, выдвинувшего идею европейских первенств еще в 1927 году и не дожившего до ее воплощения 5 лет. Выполненный в виде серебряной античной амфоры трофей впервые представили в июне 1958-го во время жеребьевки предстоящего Кубка, а спустя два года первым его обладателем стала сборная СССР. Награда, которую поднял над головой Игорь Нетто, весила 6 килограммов – на 2 меньше, чем нынешняя.
            .trophy__content-item
              .h1.trophy__header золотой мяч
              .p.trophy__dscr Современников Лев Яшин удивлял своей готовностью играть не только на линии ворот, но во всей штрафной площадке. Статус лучшего голкипера в истории подтверждает «Золотой мяч» – чемпион Евро-1960 до сих пор остается единственным вратарем, получившим эту награду. Окончательно всемирное признание футболиста-новатора закрепила его игра за сборную мира против англичан в октябре 1963-го года. Спустя два месяца он опередил в голосовании France Football Джанни Риверу и Джимми Гривза.
          .trophy__right
            img.trophy__cup.trophy__cup--euro(src="./img/trophy-1.png", alt)
            img.trophy__cup.trophy__cup--ball(src="./img/trophy-2.png", alt)
            .trophy__media
              video.trophy__media-video(src='./img/video-trophy.mp4', muted, loop, autoplay)
            .trophy__captions-wrapper
              .trophy__caption Кубок Анри Делоне — главный приз, вручаемый победителям чемпионатов Европы по футболу
              .trophy__caption Золотой мяч 1960 года — 5-й ежегодный выбор лауреата награды, вручаемой журналом France Football лучшему футболисту Европы
    
      when 'mobile'
        .trophy__section
          .trophy__left
            .trophy__content-item
              .h1.trophy__header Трофей евро
              .p.trophy__dscr Главный приз чемпионатов Европы по футболу получил название в честь первого генсека УЕФА Анри Делоне, выдвинувшего идею европейских первенств еще в 1927 году и не дожившего до ее воплощения 5 лет. Выполненный в виде серебряной античной амфоры трофей впервые представили в июне 1958-го во время жеребьевки предстоящего Кубка, а спустя два года первым его обладателем стала сборная СССР. Награда, которую поднял над головой Игорь Нетто, весила 6 килограммов – на 2 меньше, чем нынешняя.
          .trophy__right
            img.trophy__cup.trophy__cup--euro(src="./img/trophy-1.png", alt)
            .trophy__captions-wrapper
              .trophy__caption Кубок Анри Делоне — главный приз, вручаемый победителям чемпионатов Европы по футболу
              
        .trophy__section
          .trophy__left
            .trophy__content-item
              .h1.trophy__header золотой мяч
              .p.trophy__dscr Современников Лев Яшин удивлял своей готовностью играть не только на линии ворот, но во всей штрафной площадке. Статус лучшего голкипера в истории подтверждает «Золотой мяч» – чемпион Евро-1960 до сих пор остается единственным вратарем, получившим эту награду. Окончательно всемирное признание футболиста-новатора закрепила его игра за сборную мира против англичан в октябре 1963-го года. Спустя два месяца он опередил в голосовании France Football Джанни Риверу и Джимми Гривза.
          .trophy__right
            img.trophy__cup.trophy__cup--ball(src="./img/trophy-2.png", alt)
            .trophy__captions-wrapper
              .trophy__caption Золотой мяч 1960 года — 5-й ежегодный выбор лауреата награды, вручаемой журналом France Football лучшему футболисту Европы
