.trophy {
  overflow: hidden;

  @include media-breakpoint-down(md) {
    position: relative;
    min-height: 500px;
  }

  &__header {
    position: relative;
    z-index: 1;
    font-size: 50px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }
  }

  &__section {
    padding-left: 40px;
    display: flex;
    overflow: hidden;
    min-height: calc(100vh - 102px);

    @include media-breakpoint-down(lg) {
      min-height: 500px;
    }

    @include media-breakpoint-down(md) {
      padding-left: 20px;
      min-height: 0;
      flex-direction: column;
    }
  }

  &__tabs-wrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      bottom: 24px;
      left: 20px;
    }
  }

  &__dscr {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    color: $primary;

    @include media-breakpoint-down(md) {
      margin-top: 2px;
      padding-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__left {
    padding-top: 80px;
    padding-right: 20px;
    width: 40%;

    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      padding-right: 20px;
      width: 30%;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      width: 100%;
    }
  }

  &__content-item {

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__right {
    position: relative;
    display: flex;
    width: 60%;
    flex-direction: column;
    background: rgba(#ebe3cc, .5);

    @include media-breakpoint-down(lg) {
      width: 70%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      background: transparent;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 100%;
      content: '';
      background: $dark;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:after {
      margin-top: 40px;
      margin-left: -20px;
      display: none;
      width: calc(100% + 40px);
      height: 290px;
      order: 2;
      content: '';
      background: url(../img/trophy-bg-mob.jpg) no-repeat center;
      background-size: cover;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 1;
    content: '';
    background: $dark;

    @include transition;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba($dark, .5);
    }
  }

  &__media-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__cup {
    position: absolute;
    z-index: 2;
    bottom: 0;

    @include media-breakpoint-down(md) {
      position: absolute !important;
    }

    &--euro {
      bottom: -100px;
      left: 33.33%;
      width: scalevw(386);
      max-width: 386px;

      @media (max-height: 750px) {
        width: auto;
        max-height: 80vh;
      }

      @include media-breakpoint-down(md) {
        bottom: 0;
        left: 10%;
        width: 100%;
        max-width: 172px;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--ball {
      bottom: 0;
      left: 0;
      width: scalevw(484);
      max-width: 484px;

      @include media-breakpoint-down(md) {
        bottom: 20px;
        left: 50%;
        width: 100%;
        max-width: 220px;
      }

      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }
  }

  &__captions-wrapper {
    position: relative;
    padding: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      padding: 0;
      padding-right: 20px;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  &__caption {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 240px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    line-height: 1.5;
    text-align: right;
    color: #f2ebd6;

    @include media-breakpoint-down(md) {
      position: static;
      width: 50%;
      max-width: none;
      align-items: flex-start;
      order: 1;
      text-align: left;
      color: #161616;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &.trophy__active {
      position: absolute;
    }

    &:before {
      margin-bottom: 16px;
      margin-left: auto;
      display: block;
      width: 9px;
      height: 11px;
      content: '';
      background: url(../img/triangle-left.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:after {
      margin-top: 12px;
      display: block;
      width: 9px;
      height: 11px;
      content: '';
      background: url(../img/triangle-dark-mob.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &--desktop {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
