mixin location(data)
  .location&attributes(attributes)
    .container-fluid
      .h1 Как проехать
      .row
        .col-xl-9.offset-xl-3
          .location__info-wrapper
            .p.location__info.location__info--address «Невский Проспект», Конюшенная пл., д. 2В
            .p.text-primary.location__info-phone +7-931-957-05-47
            .p.location__info.location__info--hours каждый день с 12:00 до 20:00
      .row
        .col-xl-9.offset-xl-3
          .location__map
            img.location__map-img(src="./img/map.jpg", alt)
      .row
        .col-xl-9.offset-xl-3.position-static
          .location__footer
            .location__footer-left
              //a.btn.btn-outline-primary.location__btn.js-popup(href="#") посетить выставку
              +share
            .location__footer-right
              +socials
