.location {
  padding-top: 194px;
  padding-bottom: 40px;
  min-height: calc(100vh - 102px);

  @include media-breakpoint-down(lg) {
    padding-top: 102px;
    min-height: 0;
  }

  @include media-breakpoint-down(md) {
    position: relative;
    padding-top: 40px;
    padding-bottom: 24px;
  }

  &__info-wrapper {
    margin-top: 54px;

    @include media-breakpoint-down(md) {
      margin-top: 5px;
    }
  }

  &__info {
    display: flex;
    color: $primary;

    &:before {
      margin-right: 24px;
      margin-left: -48px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';

      @include media-breakpoint-down(lg) {
        margin-right: 12px;
        margin-left: 0;
        width: 20px;
        height: 20px;
      }
    }

    &--address {
      margin-bottom: 8px;

      &:before {
        background: url(../img/info-marker.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--hours {

      &:before {
        background: url(../img/info-hours.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__info-phone {
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
      margin-top: 16px;
      margin-bottom: 22px;
      padding-left: 32px;
    }
  }

  &__map {
    position: relative;
    margin-top: 40px;
    margin-right: -40px;
    margin-bottom: 66px;

    @include media-breakpoint-down(md) {
      margin-top: 23px;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__map-img {
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__footer-left {
    display: flex;
    align-items: center;
  }

  &__btn {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__footer-right {

    @include media-breakpoint-down(md) {
      align-self: flex-start;
    }
  }
}
