mixin menu(data)
  .menu&attributes(attributes)
    a.menu__link.js-anchor(href="#gallery") фотографии
    a.menu__link.js-anchor(href="#trophy") трофеи
    a.menu__link.js-anchor(href="#match") триумф в париже
    a.menu__link.js-anchor(href="#artifacts") артефакты
    a.menu__link.js-anchor(href="#location") как проехать
