.menu {
  display: flex;

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__link {
    position: relative;
    z-index: 4;
    margin-right: 32px;
    font-size: 16px;
    line-height: 1.375;

    @include transition;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      line-height: 1.33;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .8;
      color: #b80007;
    }
  }
}
