.header {
  position: fixed;
  z-index: 4;
  width: 100%;

  @include media-breakpoint-down(md) {
    position: absolute;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: $secondary url(../img/texture.jpg) center;
    background-size: cover;

    @include transition;
  }

  &__wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      padding: 24px 0 0;
    }
  }

  &__logo {
    position: relative;
    bottom: -2px;
    margin-bottom: -52px;

    @include media-breakpoint-down(md) {
      position: static;
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    margin-top: -18px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    border: 3px solid $primary;

    @include transition;

    &:hover {
      color: #fff;
      background: $primary;
    }

    @media (max-width: 1400px) {
      margin-top: -13px;
      padding: 10px 20px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: -13px;
      padding: 10px 15px;
      font-size: 12px;
      line-height: 1.33;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__link-title {

    &--default {
    }

    &--popup {
      position: absolute;
      right: 52px;
      display: none;
    }
  }

  &__menu {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &--fixed {
    z-index: 6;

    &:before {
      opacity: 1;
    }
  }

  &--popup {
    z-index: 7;
    background: $secondary url(../img/texture.jpg) center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
    }

    &:before {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .header__link {
      border-color: transparent;

      @include media-breakpoint-down(md) {
        top: 10px;
        display: flex;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        margin-left: 16px;
        display: block;
        width: 36px;
        height: 36px;
        content: '';
        background: url(../img/close.svg) no-repeat center;
        background-size: contain;
        transform: translateY(-50%);
      }

      &:hover {
        opacity: .8 !important;
        color: $primary;
        background: transparent;
      }
    }

    .header__link-title {

      &--default {
        opacity: 0;
      }

      &--popup {
        display: block;
      }
    }
  }
}
