mixin header(data)
  .header&attributes(attributes)
    .container-fluid
      .header__wrapper
        +logo.header__logo
        +menu.header__menu
        //a.header__link.js-popup(href="#") 
          span.header__link-title.header__link-title--default посетить выставку
          span.header__link-title.header__link-title--popup закрыть
