mixin popup(data)
  .popup&attributes(attributes)
    .popup__content
      div(style='clear:both;')
        script(src='https://hesus.ru/hesus/visorJs/id/YEC9Y7tM39W3hkKJwk')
        iframe#fhesus4YEC9Y7tM39W3hkKJwk(src='https://hesus.ru/hesus/visor2/id/YEC9Y7tM39W3hkKJwk' style='width: 100%;height:740px;margin: 0 auto;display: block;' frameborder='0' marginheight='0' marginwidth='0')
        div(style='clear:both;')
