.popup {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: url(../img/texture.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    padding: 102px 20px 20px;
    max-width: 840px;
    height: 100%;

    @include media-breakpoint-down(md) {
      height: 100vh;
    }

    iframe {
      max-width: 100%;

      @include media-breakpoint-down(md) {
        height: calc(100vh - 200px) !important;
      }
    }
  }
}
